.wrap {
	display: flex;
	flex-direction: column;

	& .title {
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #6e6a6a;
	}

	& .inputs {
		width: 100%;
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: center;

		& .difis {
			margin: 0 3px;
		}

		& input {
			width: 30%;
			padding: 5px 0;
			text-align: center;
			color: #9d9b9b;

			&:focus {
				outline: none;
			}
		}
	}
}
