* {
  box-sizing: border-box;
}
#app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 80%;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  }

  th {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  }
  td {
  background: #4a97df;
  padding: 10px 20px;
  color: rgb(234, 231, 231);
  }